
/** page defaults: **/
* {
  color: #5c5b56;
}

/** body: **/
body {
  background-color: #ffffff;
}

/** flex classes: **/

.flex_row,
.flex_row_wrap,
.flex_column,
.flex_column_wrap,
.flex_grow,
.flex_no_grow {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex_row {
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.flex_row_wrap {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex_column {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-direction: column;
  -ms-flex-wrap: nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.flex_column_wrap {
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex_center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_justify {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

.flex_grow {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
}

.flex_no_grow {
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}

.flex_half {
  -webkit-flex-basis: 34%;
  -moz-flex-basis: 34%;
  -ms-flex-basis: 34%;
  flex-basis: 34%;
}

.flex_full {
  -webkit-flex-basis: 67%;
  -moz-flex-basis: 67%;
  -ms-flex-basis: 67%;
  flex-basis: 67%;
}

/** section titles: **/

.s1_section_hdr {
  font-size: 1.8em;
  color: #333333;
  font-weight: 500;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.s1_page_hdr {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/** sentinel 1 frame and data type selection: **/

.row_s1_frame, .row_disp_res, .row_disp_correct, .row_s1_type {
  margin-bottom: 10px;
}

.s1_frame_control, .disp_res_control, .disp_correct_control, .s1_type_control {
  padding-left: 2%;
}

.s1_frame_control button, .disp_res_control button,
.disp_correct_control button, .s1_type_control button {
  margin: 2px;
}

/** error messages: **/
.disp_error {
  display: none;
}

/** displacement plots: **/

.row_disp_plot {
  max-width: 100%;
  margin-bottom: 20px;
}

.disp_plot_box {
  height: 0;
  overflow: hidden;
  padding-top: 45%;
  position: relative;
}

.disp_plot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col_plot_control {
  max-width: 50%;
}

.plot_control_content {
  padding-left: 5%;
}

/* scatter overlay: */
#scatter_overlay {
  background-color: #fff;
  z-index: 0;
}

/** s2 map: **/

#s2_map {
  top: 100px;
  width: 70%;
  height: calc(100% - 175px);
  z-index: -10;
}

.leaflet-container .leaflet-control-mouseposition {
  min-width: 11em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#s2_tile_info,
#s2_tile_info a {
  font-size: smaller;
}

/* re-ordering, etc. on resize: */

@media only screen and (max-width: 850px) {
  #heatmap_plot_box {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
    padding-top: 85%;
  }
  #col_heatmap_control {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
  }
  #scatter_plot_box {
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    order: 3;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
    padding-top: 85%;
  }
  #col_scatter_control {
    -webkit-order: 4;
    -moz-order: 4;
    -ms-order: 4;
    order: 4;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
  }
  #s2_map {
    top: 15px;
    width: 100%;
    height: calc(100% - 30px);
  }
  .col_plot_control {
    max-width: 100%;
  }
}

/** displacement plot time range control: **/

.row_disp_range {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col_disp_range {
  max-width: 90%;
}

/** licsar images: **/

@media only screen and (max-width: 500px) {
  .licsar_img_box {
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
    padding-bottom: 5%;
  }
}

.licsar_img_container {
  height: 0;
  overflow: hidden;
  padding-top: 45%;
  position: relative;
}

.licsar_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 95%;
  object-fit: contain;
}

/** licsar images time range control: **/

.row_licsar_img_range {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col_licsar_img_range {
  max-width: 90%;
}

/** data download links: **/

.licsar_data_links {
  padding-left: 2%;
}

.div_data_links {
  text-align: left;
  margin: 3px;
  padding: 3px 8px 3px 8px;
  min-width: 21em;
}

.div_data_links span {
  font-weight: 600;
}

/* re-ordering, etc. on resize: */

@media only screen and (max-width: 1000px) {
  #licsar_cc_data_links div {
    background-color: #ffffff;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
  }
  #licsar_pha_data_links div {
    background-color: #ffffff;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
  }
  #licsar_unw_data_links div {
    background-color: #ffffff;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
  }
}

/** probability data: **/

.row_prob_data {
  max-width: 100%;
  margin-bottom: 20px;
}

.prob_img_container {
  height: 0;
  overflow: hidden;
  padding-top: 105%;
  position: relative;
}

.prob_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
}

.prob_plot_box {
  height: 0;
  overflow: hidden;
  padding-top: 40%;
  position: relative;
}

.prob_plot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
}

/* re-ordering, etc. on resize: */

@media only screen and (max-width: 750px) {
  #prob_plot_box {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
    padding-top: 85%;
  }
  .prob_img_box {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
    -webkit-flex-basis: 51%;
    -moz-flex-basis: 51%;
    -ms-flex-basis: 51%;
    flex-basis: 51%;
    padding-bottom: 5%;
  }
}

/** probability plot time range control: **/

.row_prob_range {
  margin-top: 10px;
  margin-bottom: 10px;
}

.prob_image_value {
  margin-top: 10px;
}

.col_prob_range {
  max-width: 90%;
}

/** full screen surface plot: **/

.surf_plot_container {
  display: block;
  position: fixed;
  z-index: 9999;
  left: -999999px;
  top: -999999px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  border: 5px solid;
}

.surf_plot {
  position: absolute;
  z-index: 99999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  object-fit: contain;
}

.surf_plot_close {
  display: inline-block;
  position: absolute;
  z-index: 999999;
  right: 15px;
  top: 15px;
  color: #292929;
  font-size: xx-large;
  font-weight: bold;
  padding: 5px;
  width: calc(1em + 10px);
  height: calc(1em + 10px);
  text-align: center;
}

.surf_plot_close:hover,
.surf_plot_close:focus {
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

/** full screen images: **/
.fs_img {
  cursor: pointer;
}

span.fs_img {
  text-decoration: underline;
  color: #00275e;
}

.fs_img_div {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  overflow: auto;
  background-color: #ffffff;
  border: 5px solid;
}

.fs_img_img {
  position: absolute;
  z-index: 99999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  height: 90%;
  object-fit: contain;
}

.fs_img_close {
  display: inline-block;
  position: absolute;
  z-index: 999999;
  right: 15px;
  top: 15px;
  color: #292929;
  font-size: xx-large;
  font-weight: bold;
  padding: 5px;
  width: calc(1em + 10px);
  height: calc(1em + 10px);
  text-align: center;
}

.fs_img_close:hover,
.fs_img_close:focus {
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

/** buttons: **/

button {
  width: 175px;
  color: #494949;
  background-color: #c9c9c9;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  padding: 3px;
  margin: 3px 0px 3px 0px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

button:focus, button:active, button:hover {
  background-color: #d9d9d9;
  border: 1px solid #a9a9a9;
  color: #494949;
}

button:disabled, button[disabled] {
  background-color: #494949;
  border: 1px solid #494949;
  color: #ffffff;
  cursor: auto;
}

/** button boxes, for toggle like appearance: **/

.button_box {
  display: inline-block;
  background-color: #ccc;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 2px;
}

.action_button_box {
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 2px;
}

@media only screen and (max-width: 450px) {
  .button_box, .action_button_box {
    max-width: 175px;
  }
}

/** action buttons: **/

.disp_action_button {
  color: #ffffff;
  background-color: #333388;
  border: 1px solid #333388;
}

.disp_action_button:focus, .disp_action_button:active,
.disp_action_button:hover {
  background-color: #3333aa;
  border: 1px solid #333388;
  color: #ffffff;
}

/* remove outlines from active buttons: */
button, button:focus, button:active {
  outline: 0;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* hide additional data type buttons by default: */
#disp_type_select_button_filt {
  display: none;
}

/** sliders: **/

.noUi-target {
  margin: 15px 20px 25px 20px;
}

.noUi-connect {
  background: #333388;
}

/* slider pips: */
.noUi-marker-horizontal.noUi-marker {
  background: #666666;
  height: 15px;
}
